body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #444444;
}

h1 {
  font-size: 32pt;
  color: #000000;
}

h2 {
  font-size: 28pt;
  color: #111111;
}

h3 {
  font-size: 24pt;
  color: #222222;
}

h4 {
  font-size: 20pt;
  color: #333333;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}